/ACSimulator/dbase
/ColorPicker/Debug
/dbmng/Debug
/ColorPicker/x64/Debug
/Picker/x64/Debug
/Procesors/Debug
/x64/Debug
/Debug
/ColorPicker
/Procesors
/ACSimulator/objects
/ACSimulator/Debug
/.vs/ACSimulator
/ACSimulator/ACSimulator.aps
/ToolsPicker/x64/Debug/ToolsPicker.tlog
/ToolsPicker/x64/Debug
/.vs
/ACSimulator/x64/Debug
